* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

#main {
    padding: 100px 0;
    background-color: gray;
}

.wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 0 50px 0;
}

.wrap h2 {
    color: white;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 30px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
    border: 3px solid;
}

/* .col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
} */

.box {
    background-color: darkkhaki;
}

.box img {
    width: 100%;
}


@media screen and (max-width: 820px) {
    .col-3 {
        width: 33.3333%;
    }
}


@media screen and (max-width: 756px) {
    .col-3 {
        width: 50%;
    }
}


@media screen and (max-width: 576px) {
    .col-3 {
        width: 100%;
    }
}